span.customSelect {
	font-size: 15px;
	background-color: #fff;
	color:#7c7c7c;
	padding:5px 7px;
	border:1px solid #222;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	font-family: "myriad-pro", sans-serif;
	}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectInner {
	background:url(../img/customSelect-arrow.gif) no-repeat center right;
}